# This is the canonical .gitignore

wp*

.cache/
.cargo/
.dbus

.dropbox/
.dropbox-dist/

.elinks/globhist
.elinks/gotohist
.elinks/cookies
.elinks/exmodehist

.fonts/
.fzf/
.gnome/
.gnupg/
.ipython/
.jupyter/
.local/
.mozilla/
.node-gyp/
.node_modules_global/
.npm/
.nuget/
.nv/
.pipewire*
.pki/
.pnpm*
.porto/
.pylint*
.rustup/
.psensor/log
.ssh/
.ssr/
.themes/
.thumbnails/
.var/
.venv/
.wine
.zoom/


Desktop/
Documents/
Downloads/
Dropbox/
Mail/
Music/
NotDropbox/
Pictures/
Public/
Templates/
Videos/
dev/
go/
mail/
tar

..Xauthority.swp
.history
.pythonhist
.python_history
.tig_history
.wget-hsts
.*_history
.face
.lesshst
.netrc
.rnd
.viminfo
.wakatime.*
.xsession-errors*
.xournal/recent-files
.xournalpp/autosave/
.xournalpp/errorlogs/
.xournalpp/metadata/

package-lock.json

# ignores for individual config directories
.config/autostart/
.config/BraveSoftware/
.config/com.github.*
.config/dconf
.config/gconf
.config/Electron/

.config/Min/*
!.config/Min/userscripts/
!.config/Min/settings.json

.config/MongoDB\ Compass/
.config/Unknown\ Organization/
.config/autostart/
.config/bashtop/error.log
.config/chromium/
.config/google-chrome/
.config/google-chrome-unstable/

.config/configstore/
.config/google-chrome-unstable/
.config/evolution/
.config/fish/
.config/font-manager/
.config/gthumb/
.config/gnome-session/
.config/gtk-*
.config/ibus/
.conig/Kite/
.config/systemd/
.config/libreoffice/
.config/luna/

.config/micro/backups/
.config/micro/buffers/

.config/fontconfig/
.config/get-3.0/
.config/micro/buffers/
.config/menus/
.config/nnn/.selection
.config/nnn/plugins/*

.config/pulse
.config/kak/plugins
.config/monitors*

.config/netsurf/Cookies
.config/netsurf/URLs

.config/nnn/mounts
.config/nnn/sessions
.config/nnn/plugins*.tar.gz
.config/nnn/plugins/*
!.config/nnn/plugins/getplugs

.config/plank/
.config/pulse/
.config/solaar/

.config/sublime-merge/*
!.config/sublime-merge/Packages/
.config/sublime-merge/Packages/*
!.config/sublime-merge/Packages/User/

.config/Slack

.config/sublime-text/*
!.config/sublime-text/Packages/
.config/sublime-text/Packages/*
!.config/sublime-text/Packages/User

.config/tbsm/

.config/menus

.config/xfce4/

.kite/
.wakatime/

log.txt
*.log



